#add-to-cart-modal {
  .image-section {
    text-align: center;
    .image {
      width: 100%;
    }
  }
  @include media-breakpoint-up(xs) {
    .image-section {
      text-align: center;
      .image {
        width: 100px;
        height: auto;
      }
    }
  }
}